In [1]:
import pandas as pd 
df = pd.read_csv('../concrete_data.csv')
df.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [11]:
df.columns

Index(['cement', 'blast_furnace_slag', 'fly_ash', 'water', 'superplasticizer',
       'coarse_aggregate', 'fine_aggregate ', 'age',
       'concrete_compressive_strength'],
      dtype='object')

In [2]:
df.isnull().sum()

cement                           0
blast_furnace_slag               0
fly_ash                          0
water                            0
superplasticizer                 0
coarse_aggregate                 0
fine_aggregate                   0
age                              0
concrete_compressive_strength    0
dtype: int64

In [12]:
# Feature Scaling 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['cement'] = scaler.fit_transform(df[['cement']])
df['blast_furnace_slag'] = scaler.fit_transform(df[['blast_furnace_slag']])
df['fly_ash'] = scaler.fit_transform(df[['fly_ash']])
df['water'] = scaler.fit_transform(df[['water']])
df['superplasticizer'] = scaler.fit_transform(df[['superplasticizer']])
df['coarse_aggregate'] = scaler.fit_transform(df[['coarse_aggregate']])
df['fine_aggregate '] = scaler.fit_transform(df[['fine_aggregate ']])
df['age'] = scaler.fit_transform(df[['age']])
df['concrete_compressive_strength'] = scaler.fit_transform(df[['concrete_compressive_strength']])

In [14]:
df.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,0.863154,-1.217670,-0.279733,2.645408
1,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,1.056164,-1.217670,-0.279733,1.561421
2,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,3.553066,0.266627
3,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,5.057677,0.313340
4,-0.790459,0.678408,-0.847144,0.488793,-1.039143,0.070527,0.647884,4.978487,0.507979

In [15]:
# Splitting into train and test 
from sklearn.model_selection import train_test_split 
X = df.iloc[: ,:-1]
y = df.iloc[:,-1]
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
# Cross validation for optimal k value 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
import numpy as np
k_range = range(1,16) 
cv_scores = []
for k in k_range :
    knn = KNeighborsRegressor(n_neighbors = k , metric= "euclidean")
    scores = cross_val_score(knn,X_train,y_train,cv=5,scoring="neg_mean_squared_error")
    cv_scores.append(scores.mean())
optimal_k = k_range[np.argmax(cv_scores)]    
print(optimal_k)

4

In [26]:
# Train the model with optimal k
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
y_pred= knn.predict(X_test)

In [29]:
from sklearn.metrics import mean_squared_error, r2_score
print(f"MSE: {mean_squared_error(y_test, y_pred):.4f}")
print(f"R² Score: {r2_score(y_test, y_pred):.4f}")

MSE: 0.2685
R² Score: 0.7094